@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  background-color: #afe9e6;
  /* Cambia el color por el que desees */
}

.custom-navbar {
  background-color: #afe9e6;
  /* Si quieres que el texto sea blanco sobre el fondo oscuro */
}


h2 {
  font-family: 'Roman', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #0b0c0e;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* Efecto de sombra suave */
}

body {
  background-color: #E9E9EC !important;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.rounded-pill {
  transition: all 0.3s ease;
}

.rounded-pill:focus {
  box-shadow: 0 0 0 0.25rem rgba(74, 144, 226, 0.25);
}

body {
  background-color: #E9E9EC !important;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.rounded-pill {
  transition: all 0.3s ease;
}

.rounded-pill:focus {
  box-shadow: 0 0 0 0.25rem rgba(74, 144, 226, 0.25);
}

.modal-backdrop.show {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
}